In [2]:
s=0

s+=1
s+=2
s+=3
s+=4
s+=5
s

15

In [12]:
s=0

for a in[1,2,3,4,5]:
    s= s + a
    
s

15

リストの各要素をｘという（仮の）名前を付けて取り出す。

In [17]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]
for val in list_tohoku:
    print(val)

5349
5478
5344
4644
4968
6259

In [19]:
sum=0

for x in list_tohoku:
    sum=sum+x
sum

32042

In [21]:
sum/len(list_tohoku)

5340.333333333333

92は平均を」求めている

In [24]:
list_shikoku = [3148, 2991, 2966, 2457]
s=0

for j in list_shikoku:
    s+=j
s/len(list_shikoku)

2890.5

In [25]:
from statistics import *

In [26]:
mean(list_shikoku)

2890.5

In [37]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}
for key in dict_tohoku:
    print(key)

aomori
akita
sendai
Yamagata
fukushima
morioka

値だけを取り出したかったらprint(key[dict_tohoku])

In [38]:
for key in dict_tohoku:
    print(dict_tohoku[key])

5349
4644
5344
4968
6259
5478

95

In [44]:
a=[1,2,3,4,5]

s=0
for x in a:
    s+=x
avg=s/len(a)

avg

3.0

In [45]:
s=0
for x in a:
    s+=(x-avg)**2
    
v=s/len(a)
v**0.5

1.4142135623730951

In [ ]:
c